
/****************************************************/
/*                                                 */
/*   Global CSS (_globals.css)                    */
/*                                               */
/************************************************/
/*

  - Styles global to the site.
  - Try to place as few things in here as possible,
    and use class selectors for the majority of your styling.

  *************
  * Contents: *
  *************

  # Everything
  # Body
  # Text Elements
  # Links
  # Images

*/

/**************************************/
/*   # Everything                    */
/************************************/

* {
  /* "[border-box] tells the browser to account for any border and padding in the values
  you specify for an element's width and height." [developer.mozilla.org]*/
  box-sizing: border-box;
}

/**************************************/
/*   # Body                          */
/************************************/

body {
  font-family: $font_sansSerif;
  background-color: rgb($color_offBlack);
}

/**************************************/
/*   # Text Elements                 */
/************************************/

p, dd, li {
  line-height: 2;
}

/**************************************/
/*   # Links                         */
/************************************/

a,
button {
  cursor: pointer;
}

/**************************************/
/*   # Images                        */
/************************************/

figure {
  margin: 0;
}
