/****************************************************/
/*                                                 */
/*   CSS Variables (_variables.css)               */
/*                                               */
/************************************************/
/*

  - Contains the variables to be used by the css.
  - These variables are handled by the PostCSS plugin postcss-simple-vars (see ~/gulp/tasks/styles.task.js)

  *************
  * Contents: *
  *************

  # Screen Sizes
  # Colors
    > Color Definitions
    > Color Designations
    > Color Assignments
  # Images
    > URLs

*/

/**************************************/
/*   # Screen Sizes                  */
/************************************/

$screen_tiny: 699px; /*Extra small devices (e.g. phones)*/
$screen_small: 700px; /*Small devices (e.g. portrait tablets and large phones)*/
$screen_medium: 850px; /*Medium devices (e.g. landscape tablets)*/
$screen_large: 992px; /*Large devices (e.g. laptops/desktops)*/
$screen_xl: 1200px; /* Extra large devices (e.g. large laptops and desktops)*/
$screen_xxl: 2000px; /* For thos extra-extra screens*/

/*The following sizes (squished, crushed, pancake) are for intended for brower windows with small height.*/
/*SQUISHED*/
$screen_squished_height: 550px;
$screen_squished_width: $screen_small;
/*CRUSHED*/
$screen_crushed_height: 350px;
$screen_crushed_width: $screen_small;
/*PANCAKE*/
$screen_pancake_height: 225px;
$screen_pancake_width: $screen_small;

/**************************************/
/*   # Structure                     */
/************************************/

$structure_restricted_width: 700px; /*the max width for content*/

/**************************************/
/*   # Colors                        */
/************************************/

/*************************
*  > Color Definitions   *
*************************/

/*GREYS*/
$color_grey_light_01: 224, 224, 224;
$color_grey_med_01: 180, 181, 180;
$color_grey_dark_01: 82, 82, 87;
$color_grey_dark_02: 28, 28, 28;

/*REDS*/
$color_red_med_01: 237, 81, 103;

/*Oranges*/
$color_orange_med_01: 216, 112, 71;

/*BLUES*/
$color_blue_light_01: 83, 206, 206;
$color_blue_med_01: 45, 145, 163;
$color_blue_dark_01: 11, 53, 53;

/*GREENS*/
$color_green_light_01: 215, 236, 159;
$color_green_med_01: 141, 196, 21;

/*Teals*/
$color_teal_light_01: 198, 255, 234;
$color_teal_light_02: 123, 213, 187;
$color_teal_light_03: 177, 255, 223;
$color_teal_med_01: 116, 200, 176;
$color_teal_med_02: 105, 181, 159;
$color_teal_dark_01: 42, 72, 64;

/*Yellows*/

$color_yellow_light_01: 255, 255, 162;
$color_yellow_med_01: 255, 255, 131;

/**************************
*  > Color Designations   *
**************************/

/*BLACK/WHITE*/
$color_offWhite: 250, 250, 250;
$color_offBlack: $color_grey_dark_02;

/*NEUTRAL*/
$color_neutralDark: $color_grey_dark_01;
$color_neutralMed: $color_grey_med_01;
$color_neutralLight: $color_grey_light_01;

$color_a: $color_teal_light_02;
$color_b: $color_teal_med_01;
$color_c: $color_teal_med_02;
$color_d: $color_teal_dark_01;

/*ACCENT*/
$color_accentMain: $color_teal_light_01;
$color_accentSec: $color_yellow_light_01;
$color_accentTir: $color_teal_dark_01;


/*Attention*/
$color_attentionMild: $color_grey_med_01;
$color_attentionMed: $color_blue_med_01;
$color_attentionHot: $color_red_med_01;


/*************************
*  > Color Assignments   *
*************************/

/*TEXT*/
$color_textHeaderMain: $color_neutralMed;
$color_textHeaderSec: $color_neutralDark;
$color_textHeaderTert: $color_neutralDark;
$color_textBody: $color_grey_dark_02;
$color_textLink_inline: $color_offWhite;
$color_textLink_inline_hover: $color_accentSec;

/*Backgrounds*/
$color_background_01: $color_blue_med_01;
$color_background_02: $color_blue_dark_01;
$color_background_03: $color_blue_light_01;
$color_background_04: $color_neutralMed;

/**************************************/
/*   # Images                        */
/************************************/

/************
*  > Urls   *
************/

$img_rootFile: ../images;
$img_bkgdRoot: $img_rootFile/backgrounds;
$img_sectionRoot: $img_rootFile/section;

$img_keepMeHangin--small: url("$img_bkgdRoot/dejan-zakic-767355-unsplash--small.jpg");
$img_keepMeHangin--large: url("$img_bkgdRoot/dejan-zakic-767355-unsplash--large.jpg");
$img_keepMeHangin--xl: url("$img_bkgdRoot/dejan-zakic-767355-unsplash--xlarge.jpg");


$img_featured: $img_keepMeHangin--small;
$img_featured--small: $img_keepMeHangin--small;
$img_featured--large: $img_keepMeHangin--large;
$img_featured--xl: $img_keepMeHangin--xl;
