
/****************************************************/
/*                                                 */
/*   Carousel CSS (_carousel.css)              */
/*                                               */
/************************************************/
/*

  - Styles for a carousel
  - This file constains the styles, includeing the animations/transitions for the items
    in the carousel.
  - The carousel should be controled via a script that changes class names of the
    outer carousel wrapper to trigger style transitions/animations.
  - An item is a slide (e.g. single image) of the carousel.
    The carousel should have multiple items, which it loops through.
  - Items cycle by animating their opacity and z-index.

  *************
  * Contents: *
  *************

  # Variables
  # Carousel
    > Modifiers
  # Display
  # Item
  # Image
    > Modifiers
  # Controls
    > Bottom Controls
    > Arrows
    > Jump
    > Play Toggle


*/

/**************************************/
/*   # Variables                     */
/************************************/

$carousel__control-color: rgba($color_offWhite, .5);
$carousel__control-color--hover: rgba($color_offWhite, 1);
$carousel__control-color--active: rgba($color_accentTir, 1);

$carousel__slide-speed: 1000ms;

/**************************************/
/*   # Carousel                      */
/************************************/

.carousel {
  /*position*/
  position: relative;
  /*structure*/
  height: 320px;
  width: 350px;
  /*spacing*/
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;


  /*****************
  *  > Modifiers   *
  *****************/

  &--smaller-for-tiny {
    @mixin forTiny {
      height: 270px;
      width: 300px;
    }
  }

  /**************************************/
  /*   # Display                       */
  /************************************/

  &__display {
    /*position*/
    position: relative;
    /*structure*/
    height: 100%;
    width: 100%;
    /*borders*/
    border-radius: 2px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba($color_offWhite, .7);
    /*overflow*/
    overflow: hidden;
    /*shadows*/
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  }

  /**************************************/
  /*   # Item                          */
  /************************************/
  /*An item is a slide (e.g. single image) of the carousel.
  The carousel should have multiple items, which it loops through.*/

  &__item { /*HIDDEN INITIALLY UNTIL GIVEN ACTIVE CLASS BELOW*/
    /*display*/
    display: block;
    /*position*/
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    /*structure*/
    height: 100%;
    width: 100%;
    /*colors*/
    opacity: 0;
    /*overflow*/
    overflow: hidden;
    /*transition*/
    transition-property: all;
    transition-duration: $carousel__slide-speed;
  }

  &__item--active { /*USE THIS CLASS TO DISPLAY ONE IMAGE AT A TIME IN SCRIPT*/
    opacity: 1;
    z-index: 1;
  }

  /**************************************/
  /*   # Image                         */
  /************************************/

  &__image {}


  /*****************
  *  > Modifiers   *
  *****************/

  &__image--fit-width {
    width: 100%;
  }

  &__image--fit-height {
    height: 100%;
  }


  /**************************************/
  /*   # Controls                      */
  /************************************/

  &__controls {}

  /***********************
  *  > Bottom Controls   *
  ***********************/

  &__bottom-controls {
    /*display*/
    display: block;
    /*position*/
    position: absolute;
    left: 50%;
    /*spacing*/
    margin-top: 8px;
    /*transform*/
    transform: translateX(-50%);
  }

  /**************
  *  > Arrows   *
  **************/

  &__arrow {
    /*mixin*/
    @mixin overrideButton();
    /*structure*/
    height: 14px;
    width: 14px;
    /*borders*/
    border-left-style: solid;
    border-top-style: solid;
    border-width: 5px;
    /*colors*/
    border-color: $carousel__control-color;
    /*transition*/
    transition-property: all;
    transition-duration: 300ms;

    /*hover*/
    .has-no-touch &:hover {
      /*colors*/
      border-color: $carousel__control-color--hover;
    }
  }

  &__arrow--right {
    /*position*/
    position: absolute;
    top: 47%;
    right: 5px;
    /*transform*/
    transform: rotate(135deg);
  }

  &__arrow--left {
    /*position*/
    position: absolute;
    top: 47%;
    left: 5px;
    /*transform*/
    transform: rotate(-45deg);
  }


  /************
  *  > Jump   *
  ************/

  &__jump-controls {
    /*display*/
    display: inline-block;
    /*position*/
    position: relative;

  }

  &__jump {
    cursor: pointer;
    /*position*/
    position: relative;
    display: inline-block;
    /*structure*/
    height: 10px;
    width: 10px;
    /*borders*/
    border-radius: 50%;
    /*spacing*/
    margin-right: 4px;
    /*colors*/
    background-color: $carousel__control-color;
    /*transition*/
    transition-property: all;
    transition-duration: 500ms;

    .has-no-touch &:not(&--active):hover {
      /*colors*/
      background-color: $carousel__control-color--hover;
    }

  }

  &__jump--active {
    /*colors*/
    background-color: $carousel__control-color--active;
  }


  /*******************
  *  > Play Toggle   *
  *******************/

  &__play-toggle {
    /*mixins*/
    @mixin overrideButton();
    /*display*/
    display: inline-block;
    /*position*/
    position: relative;
    /*spacing*/
    padding: 2px;

  }

  &__play {
    /*position*/
    position: relative;
    left: -4px;
    top: 1px;
    /*structure*/
    height: 0;
    width: 0;
    /*borders*/
    border-style: solid;
    border-width: 6px;
    /*transform*/
    transform: rotate(45deg);
    /*colors*/
    border-left-color: transparent;
    border-top-color: $carousel__control-color;
    border-right-color: $carousel__control-color;
    border-bottom-color: transparent;
    /*transition*/
    transition-property: all;
    transition-duration: 500ms;


    .carousel--is-playing &{
      display: none;
    }

    .has-no-touch &:hover {
      border-top-color: $carousel__control-color--hover;
      border-right-color: $carousel__control-color--hover;
    }

  }

  &__pause {
    /*display*/
    display: none; /*dispays with parent class, see below*/
    /*position*/
    position: relative;
    /*structure*/
    height: 10px;
    width: 10px;
    /*colors*/

    .carousel--is-playing &{
      display: block;
    }

    &::before {
      /*content*/
      content: "";
      /*display*/
      display: block;
      /*position*/
      position: absolute;
      top: 0;
      left: 0;
      /*structure*/
      height: 100%;
      width: 40%;
      /*colors*/
      background-color: $carousel__control-color;
    }
    &::after {
      /*content*/
      content: "";
      /*display*/
      display: block;
      /*position*/
      position: absolute;
      top: 0;
      left: 60%;
      /*structure*/
      height: 100%;
      width: 40%;
      /*colors*/
      background-color: $carousel__control-color;
    }
  }


}
