
@keyframes noJSCarousel_expandHeight {
  to {
    max-height: 3000px;
  }
}

/****************************************************/
/*                                                 */
/*   Carousel CSS (_carousel.css)              */
/*                                               */
/************************************************/
/*

  - Styles for a carousel
  - This file constains the styles, includeing the animations/transitions for the items
    in the carousel.
  - The carousel should be controled via a script that changes class names of the
    outer carousel wrapper to trigger style transitions/animations.
  - An item is a slide (e.g. single image) of the carousel.
    The carousel should have multiple items, which it loops through.
  - Items cycle by animating their opacity and z-index.

  *************
  * Contents: *
  *************

  # Variables
  # Carousel
    > For Tiny
    > At Small
    > Sizing
    > Position
  # Display
  # Item
  # Image
    > Sizing
    > No JS
  # Controls
    > Bottom Controls
    > Arrows
    > Jump
    > Play Toggle
    > Play Toggle (Focus)
  # Carousel No JS


*/

/**************************************/
/*   # Variables                     */
/************************************/

$carousel__arrow-padding: 30px;

$carousel__control-color: rgba($color_offWhite, .5);
$carousel__control-color--hover: rgba($color_accentSec, 1);
$carousel__control-color--active: rgba($color_accentTir, 1);

$carousel__slide-speed: 1000ms;

/**************************************/
/*   # Carousel                      */
/************************************/

.carousel {
  /*position*/
  position: relative;
  /*structure*/
  width: 100%;
  /*spacing*/
  padding-left: $carousel__arrow-padding;
  padding-right: $carousel__arrow-padding;
  padding-bottom: $carousel__arrow-padding;
  /*spacing*/
  margin-left: auto;
  margin-right: auto;


  /****************
  *  > For Tiny   *
  ****************/

  @mixin forTiny {
    @mixin forPortrait {
      /*position*/
      left: -30px;
      /*struture*/
      width: calc(100% + 60px);

    }
    @mixin forLandscape {

      max-width: 70%;
    }
  }

  /****************
  *  > At Small   *
  ****************/

  @mixin atSmall {}

  /**************
  *  > Sizing   *
  **************/

  &--max-500 {
    max-width: 500px;
  }

  &--max-600 {
    max-width: 600px;
  }

  &--max-800 {
    max-width: 800px;
  }

  &--bleed {
    /*position*/
    left: calc($carousel__arrow-padding / -2);
    /*structure*/
    width: calc(100% + ($carousel__arrow-padding * 1.5));

  }

  /****************
  *  > Position   *
  ****************/

  &--shift-left {
    left: -15px;
  }

  /***************
  *  > Spacing   *
  ***************/

  &--top-space {
    padding-top: 20px;
  }


  /**************************************/
  /*   # Display                       */
  /************************************/

  &__display {
    /*position*/
    position: relative;
    /*structure*/
    width: 100%;
    height: 0; /*apparent height created by bottom padding*/
    /*spacing*/
    padding-bottom: calc(100% - 16px); /*determins the height of the display based on the width*/
    /*borders*/
    border-radius: 2px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba($color_offWhite, .7);
    /*overflow*/
    overflow: hidden;
    /*shadows*/
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  }

  /**************************************/
  /*   # Item                          */
  /************************************/
  /*An item is a slide (e.g. single image) of the carousel.
  The carousel should have multiple items, which it loops through.*/

  &__item { /*HIDDEN INITIALLY UNTIL GIVEN ACTIVE CLASS BELOW*/
    /*display*/
    display: block;
    /*position*/
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    /*structure*/
    height: 100%;
    width: 100%;
    /*colors*/
    opacity: 0;
    /*overflow*/
    overflow: hidden;
    /*transition*/
    transition-property: all;
    transition-duration: $carousel__slide-speed;
  }

  &__item--active { /*USE THIS CLASS TO DISPLAY ONE IMAGE AT A TIME IN SCRIPT*/
    opacity: 1;
    z-index: 1;
  }

  /**************************************/
  /*   # Image                         */
  /************************************/

  &__image {}


  /**************
  *  > Sizing   *
  **************/

  &__image--fit-width {
    width: 100%;
  }

  &__image--fit-height {
    height: 100%;
  }

  /*************
  *  > No JS   *
  *************/

  &__image--no-js-overlay {
    /*position*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }


  /**************************************/
  /*   # Timer                         */
  /************************************/
  /*represents the time the item will be displayed.
  this needs to be animated by the script to match the loop time.
  this should only display when the carousel is activly looping through items.*/
  &__timer {
    /*position*/
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    /*structure*/
    height: 5px;
    width: 100%;
    /*colors*/
    background-color: rgba($color_offWhite, .3);
    opacity: 0;
    /*shadows*/
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);

    .carousel--is-playing & {
      opacity: 1;
    }
  }

  /**************************************/
  /*   # Controls                      */
  /************************************/

  &__controls {}

  /***********************
  *  > Bottom Controls   *
  ***********************/

  &__bottom-controls {
    /*display*/
    display: table;
    /*position*/
    z-index: 10;
    position: absolute;
    left: 50%;
    /*spacing*/
    margin-top: 8px;
    /*transform*/
    transform: translateX(-50%);
  }

  /**************
  *  > Arrows   *
  **************/

  &__arrow {
    /*mixin*/
    @mixin overrideButton();
    /*position*/
    position: absolute;
    top: calc(50% - 14px);
    /*structure*/
    height: 14px;
    width: 14px;
    /*borders*/
    border-left-style: solid;
    border-top-style: solid;
    border-width: 5px;
    /*colors*/
    border-color: $carousel__control-color;
    /*transition*/
    transition-property: all;
    transition-duration: 300ms;

    /*hover*/
    .has-no-touch &:hover {
      /*colors*/
      border-color: $carousel__control-color--hover;
    }

    /*focus*/
    &:focus {
      outline: none;
      border-color: $carousel__control-color--hover;
    }

    @mixin forTiny {
      /*position*/
      top: calc(50% - 20px);
      /*structure*/
      height: 20px;
      width: 20px;
    }


  }

  &__arrow--right {
    /*position*/
    right: 5px;
    /*transform*/
    transform: rotate(135deg);
  }

  &__arrow--left {
    /*position*/
    left: 5px;
    /*transform*/
    transform: rotate(-45deg);
  }


  /************
  *  > Jump   *
  ************/

  &__jump-controls {
    /*display*/
    display: inline-block;
    /*position*/
    position: relative;

  }

  &__jump {
    cursor: pointer;
    /*position*/
    position: relative;
    display: inline-block;
    /*structure*/
    height: 14px;
    width: 14px;
    /*borders*/
    border-radius: 50%;
    /*spacing*/
    margin-right: 14px;
    /*colors*/
    background-color: $carousel__control-color;
    /*transition*/
    transition-property: all;
    transition-duration: 500ms;

    .has-no-touch &:not(&--active):hover {
      /*colors*/
      background-color: $carousel__control-color--hover;
    }

    @mixin atSmall {
      /*structure*/
      height: 12px;
      width: 12px;
      /*spacing*/
      margin-right: 12px;
    }

  }

  &__jump--active {
    /*colors*/
    background-color: $carousel__control-color--active;
  }


  /*******************
  *  > Play Toggle   *
  *******************/

  &__play-toggle {
    /*mixins*/
    @mixin overrideButton();
    /*display*/
    display: block;
    /*position*/
    float: right;
    position: relative;
    top: 0;
    /*structure*/
    height: 16px;
    width: 16px;
    /*spacing*/
    margin-left: 5px;
    margin-top: 1px;
    @mixin forTiny {
      /*position*/
      top: -2px;
      /*structure*/
      height: 18px;
      width: 18px;
    }

  }

  &__play {
    /*position*/
    position: absolute;
    /*structure*/
    height: 100%;
    width: 100%;

    &::after {
      content: '';
      /*display*/
      display: block;
      /*position*/
      position: absolute;
      top: -11px;
      left: -9px;
      /*structure*/
      height: 0;
      width: 0;
      /*borders*/
      border-style: solid;
      border-width: 11px;
      /*spacing*/
      margin-left: 0;
      /*transform*/
      transform: scaleY(.6) rotate(45deg);
      /*colors*/
      border-left-color: transparent;
      border-top-color: $carousel__control-color;
      border-right-color: $carousel__control-color;
      border-bottom-color: transparent;
      /*transition*/
      transition-property: all;
      transition-duration: 500ms;
    }


    .carousel--is-playing &{
      display: none;
    }

    .has-no-touch &:hover::after {
      border-top-color: $carousel__control-color--hover;
      border-right-color: $carousel__control-color--hover;
    }

    @mixin forTiny {
      &::after {
        /*position*/
        left: -8px;
        top: -9px;
        /*borders*/
        border-width: 10px;
      }
    }

  }

  &__pause {
    /*display*/
    display: none; /*dispays with parent class, see below*/
    /*position*/
    position: relative;
    /*structure*/
    height: 14px;
    width: 12px;

    .carousel--is-playing &{
      display: block;
    }

    &::before {
      /*content*/
      content: "";
      /*display*/
      display: block;
      /*position*/
      position: absolute;
      top: 0;
      left: 0;
      /*structure*/
      height: 100%;
      width: 4px;
      /*colors*/
      background-color: $carousel__control-color;
    }
    &::after {
      /*content*/
      content: "";
      /*display*/
      display: block;
      /*position*/
      position: absolute;
      top: 0;
      right: 0;
      /*structure*/
      height: 100%;
      width: 4px;
      /*colors*/
      background-color: $carousel__control-color;
    }
    &:hover::before,
    &:hover::after {
      background-color: $carousel__control-color--hover;
    }

    @mixin forTiny {
      /*structure*/
      height: 16px;
      width: 15px;

      &::after,
      &::before{
        width: 5px;
      }
    }
  }

  /***************************
  *  > Play Toggle (Focus)   *
  ***************************/

  &__play-toggle:focus {
    outline: none;
  }
  &__play-toggle:focus-within {
    .carousel__pause::before,
    .carousel__pause::after {
      background-color: $carousel__control-color--hover;
    }

    .carousel__play::after {
      border-top-color: $carousel__control-color--hover;
      border-right-color: $carousel__control-color--hover;
    }
  }

  /**************************************/
  /*   # Carousel No JS                */
  /************************************/


  .has-no-js &--allow-no-js {
    /*structure*/
    height: auto;

    .carousel__controls {
      /*display*/
      display: none;
    }

    .carousel__display {
      /*overflow*/
      overflow: hidden;
      /*structure*/
      height: auto;
      max-height: 288px;
      /*spacing*/
      padding-bottom: 0;
      /*colors*/
      background-color: rgb($color_offWhite);
      /*animation*/
      /*expand carousel to show all images when JS is not available
      has-no-js in the initial class so the animation exists (and is delayed)
      so the height of all the images does not effect an experiance with JS.*/
      animation-name: noJSCarousel_expandHeight;
      animation-duration: 5000ms;
      animation-delay: 1000ms;
      animation-fill-mode: forwards;

    }
    .carousel__item {
      /*position*/
      position: relative;
      z-index: auto;
      /*structure*/
      width: 100%;
      height: auto;
      /*colors*/
      opacity: 1;
    }

    .carousel__image {
      /*structure*/
      width: 100%;
      height: auto;
    }
  }

}
