
/****************************************************/
/*                                                 */
/*   Headline CSS (_headline.css)                 */
/*                                               */
/************************************************/
/*

  Style for headlines/headers (e.g. h1, h2, ...)

  *************
  * Contents: *
  *************

  # Headline
    > Size
    > Spacing

*/

/**************************************/
/*   # Headline                      */
/************************************/

.headline {

  /************
  *  > Size   *
  ************/

  &--small {
    font-size: 1.5rem;
  }

  &--medium {
    font-size: 2.5rem;
  }

  &--large {
    font-size: 5rem;
  }

  &--ex-large {
    font-size: 7rem;
  }

  /***************
  *  > Spacing   *
  ***************/

  &--no-bottom-space {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &--negative-bottom-space {
    padding-bottom: 0;
    margin-bottom: -15px;
  }

  &--no-top-space-at-small {
    @mixin atSmall {
      margin-top: 0;
      padding-top: 0;
    }
  }

  &--no-bottom-space-for-tiny {
    @mixin forTiny {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &--negative-bottom-space-for-tiny {
    @mixin forTiny {
      margin-bottom: -15px;
      padding-bottom: 0;
    }
  }

  &--no-bottom-at-squished {
    @mixin atSquished {
      margin-bottom: 0;
    }
  }

  &--negative-bottom-at-squished {
    @mixin atSquished {
      margin-bottom: -15px;
    }
  }

}
