
/****************************************************/
/*                                                 */
/*   Headline CSS (_headline.css)                 */
/*                                               */
/************************************************/
/*

  Style for headlines/headers (e.g. h1, h2, ...)

  *************
  * Contents: *
  *************

  # Headline
    > Size

*/

/**************************************/
/*   # Headline                      */
/************************************/

.headline {

  /************
  *  > Size   *
  ************/

  &--medium {
    font-size: 2.5rem;
  }

  &--large {
    font-size: 5rem;
  }

  &--ex-large {
    font-size: 7rem;
  }

  /***************
  *  > Spacing   *
  ***************/

  &--no-top-space-at-small {
    @mixin atSmall {
      margin-top: 0;
      padding-top: 0;
    }
  }

}
