
.image {


  &--featured {

    background-image: $img_featured--small;

  }

  @mixin forLandscape {

    @mixin atMedium {
      &--featured {
        background-image: $img_featured--large;
      }
    }


    @mixin atXL {
      &--featured {
        background-image: $img_featured--xl;
      }
    }

  }

  @mixin forPortrait {

      &--featured {
        background-image: $img_featured--small;
      }


    @mixin atSmall {
      &--featured {
        background-image: $img_featured--large;
      }
    }


    @mixin atLarge {
      &--featured {
         background-image: $img_featured--xl;
      }
    }

  }

}
