
/****************************************************/
/*                                                 */
/*   Main Navication CSS (_main-nav.css)          */
/*                                               */
/************************************************/
/*

  Style for the main navigation menu/links.
  The following styles account for screen size and touch events.

  *************
  * Contents: *
  *************

  # Main Navigation
    > At Small
  # Link
    > On Focus
    > On Hover
    > At Small
    > At Squished
    > At Crushed
    > At Pancake
    > Active Link
  # Skip Main Content

*/

/**************************************/
/*   # Main Navigation               */
/************************************/

.main-nav {
  /*position*/
  position: relative;
  top: 0;
  /*structure*/
  height: 100%;
  width: 100%;
  /*colors*/
  background-color: rgba($color_offBlack, .95);
  /*typography*/
  font-size: 1.2rem;
  /*overflow*/
  overflow-y: scroll;


  /****************
  *  > At Small   *
  ****************/

  @mixin atSmall {
    /*position*/
    position: relative;
    /*spacing*/
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 5px;
    /*typography*/
    font-size: 1.1rem;
    /*colors*/
    background-color: transparent;
  }

  /**************************************/
  /*   # Link                          */
  /************************************/

  &__links {
    /*spacing*/
    margin-top: 0;
  }

  &__link {
    /*position*/
    position: relative;
    /*colors*/
    color: rgba($color_offWhite, .8);
    /*transition*/
    transition-property: all;
    transition-duration: 500ms;

    /****************
    *  > On Focus   *
    ****************/

    &:not(&--active):focus {
      color: rgb($color_accentSec);
    }

    /****************
    *  > On Hover   *
    ****************/

    .has-no-touch &:not(&--active):hover {
      /*colors*/
      color: rgb($color_accentSec);
    }

    /****************
    *  > At Small   *
    ****************/

    @mixin atSmall {
      /*spacing*/
      margin-bottom: 20px;
      /*shadows*/
      text-shadow: 0 0 5px rgba(0, 0, 0, .3);

      &::after {
        content: "";
        /*display*/
        display: none;
        /*position*/
        position: absolute;
        top: 0;
        left: 0;
        /*structure*/
        height: 100%;
        width: 100%;
        /*borders*/
        border-bottom-style: dashed;
        border-width: 2px;
        /*colors*/
        border-color: rgba($color_offWhite, 0);
        /*transitions*/
        transition-property: all;
        transition-duration: 500ms;
      }

    }


    /*******************
    *  > At Squished   *
    *******************/

    @mixin atSquished {
      @mixin atSmall {
        margin-bottom: 5px;
      }
    }

    /*******************
    *  > At Crushed   *
    *******************/

    @mixin atCrushed {
      @mixin atSmall {
        /*spacing*/
        margin-bottom: 0;
      }
    }

    /******************
    *  > At Pancake   *
    ******************/

    @mixin atPancake {
      @mixin atSmall {
        /*spacing*/
        margin-bottom: -15px;
      }
    }


    /*******************
    *  > Active Link   *
    *******************/

    &.active {
      /*colors*/
      color: rgb($color_accentTir);
      background-color: rgb($color_accentMain);

      @mixin atSmall {
        /*typography*/
        /* font-weight: 700; */
        letter-spacing: 1.5px;
        /*colors*/
        color: rgba($color_offWhite, 1);
        background-color: transparent;
        /*shadows*/
        text-shadow: 0 0 10px rgba(0, 0, 0, .2);

        &::after {
          /*structure*/
          width: 100%;
          /*colors*/
          border-color: rgba($color_offWhite, .3);
        }

      }
    }
    &--active-color-a.active {
      color: rgb($color_a);
      box-shadow: unset;
      background-color: transparent;
    }
    &--active-color-a--at-small.active {
      color: rgb($color_a);
    }

    &--active-bkgrd-a.active {
      /*borders*/
      border-radius: 5px;
      /*colors*/
      background-color: rgb($color_a);
    }
    &--active-bkgrd-b.active {
      /*borders*/
      border-radius: 5px;
      /*colors*/
      background-color: rgb($color_b);
    }
    &--active-bkgrd-c.active {
      /*borders*/
      border-radius: 5px;
      /*colors*/
      background-color: rgb($color_c);
    }
    &--active-bkgrd-d.active {
      /*borders*/
      border-radius: 5px;
      /*colors*/
      background-color: rgb($color_d);
    }

    &--active-shadow.active {
      /*shadows*/
      box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
    }



  }


  /**************************************/
  /*   # Skip Main Content             */
  /************************************/

  &__skip-main-content {
    /*spacing*/
    padding: 5px;
    /*borders*/
    border-bottom-right-radius: 5px;
    /*typography*/
    font-size: 1.2rem;
    /*colors*/
    background-color: rgb($color_offWhite);
    color: rgb($color_attentionMed);
    box-shadow: initial;

    .has-no-touch &:hover {
      /*colors*/
      color: rgb($color_attentionHot);
    }

  }

}
