
/****************************************************/
/*                                                 */
/*   Main Navication CSS (_main-nav.css)          */
/*                                               */
/************************************************/
/*

  Style for the main navigation menu/links.
  The following styles account for screen size and touch events.

  *************
  * Contents: *
  *************

  # Main Navigation
    > At Small
  # Link
    > At Small
    > Active Link
  # Skip Main Content

*/

/**************************************/
/*   # Main Navigation               */
/************************************/

.main-nav {
  /*position*/
  position: relative;
  top: 0;
  /*structure*/
  height: 100%;
  width: 100%;
  /*colors*/
  background-color: rgba($color_offBlack, .95);
  /*typography*/
  font-size: 1.2rem;
  /*overflow*/
  overflow-y: scroll;

  /****************
  *  > At Small   *
  ****************/

  @mixin atSmall {
    /*position*/
    position: relative;
    /*spacing*/
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 5px;
    /*typography*/
    font-size: 1.1rem;
    /*colors*/
    background-color: transparent;
  }

  /**************************************/
  /*   # Link                          */
  /************************************/

  &__links {
    /*spacing*/
    margin-top: 0;
  }

  &__link {

    /*position*/
    position: relative;
    /*colors*/
    color: rgb($color_offWhite);
    /*transition*/
    transition-property: all;
    transition-duration: 500ms;


    /*******************
    *  > Active Link   *
    *******************/

    &.active {
      /*colors*/
      color: rgb($color_accentTir);
      background-color: rgb($color_accentMain);

      @mixin atSmall {
        /*typography*/
        font-weight: 700;
        letter-spacing: 1px;
        /*colors*/
        background-color: transparent;

      }
    }
    &--active-color-a.active {
      color: rgb($color_a);
    }

    /****************
    *  > At Small   *
    ****************/

    @mixin atSmall {

      &.active {
        /* color: rgb($color_accentSec); */
      }

        .has-no-touch &:not(&--active):hover {
          /*colors*/
          color: rgb($color_accentSec);
        }
        &--active-color-a--at-small.active {
          color: rgb($color_a);
        }
    }


  }


  /**************************************/
  /*   # Skip Main Content             */
  /************************************/

  &__skip-main-content {
    /*spacing*/
    padding: 5px;
    /*borders*/
    border-bottom-right-radius: 5px;
    /*typography*/
    font-size: 1.2rem;
    /*colors*/
    background-color: rgb($color_offWhite);
    color: rgb($color_attentionMed);
    box-shadow: initial;

    .has-no-touch &:hover {
      /*colors*/
      color: rgb($color_attentionHot);
    }

  }

}
