
/****************************************************/
/*                                                 */
/*   Section CSS (_main-nav.css)                  */
/*                                               */
/************************************************/
/*

  - A section is considered an independent grouping of content.
  - The section class may be applied to a section tag,
    but it is not required.

  *************
  * Contents: *
  *************

  # Variables
  # Section
    > Focus
    > Modifiers
    > At Small
  # Flash Card Modifier
  # Headline
  # Content

*/

/**************************************/
/*   # Variables                     */
/************************************/

$fc__gutter-width: 200px;
$fc__top-margin: 200px;
$fc__cutout-size: 150px;
$fc__cutout-border-width: 100px;
$fc__cutout-left-position: calc(-1 * ($fc__cutout-size + $fc__cutout-border-width) - 3px);
$fc__cutout-top-position: calc(-1 * ($fc__cutout-border-width * .5));
$fc__cutout-total-height: calc($fc__cutout-border-width + $fc__cutout-size);
$fc__default-color: rgb($color_neutralMed);
$fc__color-a: rgb($color_offWhite);
$fc__color-b: rgb($color_accentMain);
$fc__color-c: rgb($color_accentSec);
$fc__color-d: rgb($color_accentTir);

/**************************************/
/*   # Section                       */
/************************************/

.section {
  /*display*/
  display: block;
  /*position*/
  position: relative;
  /*structure*/
  height: auto;
  width: 100%;
  /*spacing*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 40px;

  /*************
  *  > Focus   *
  *************/

  &:focus {
    /*outline*/
    outline: none;
  }

  /*****************
  *  > Modifiers   *
  *****************/

  &--extra-margin-bottom {
    /*spacing*/
    margin-bottom: 100px;
  }

  /****************
  *  > At Small   *
  ****************/

  @mixin atSmall {
    /*spacing*/
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

    &--extra-margin-bottom {
      /*spacing*/
      margin-bottom: 150px;
    }

  }

  /**************************************/
  /*   # Flash Card Modifier           */
  /************************************/

  &--flash-card {
    /*position*/
    left: $fc__gutter-width;
    /*structure*/
    height: 100vh;
    width: calc(100% - $fc__gutter-width);
    /*spacing*/
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    /*colors*/
    background-color: $fc__default-color;

    &::before {
      /*content*/
      content: "";
      /*display*/
      display: block;
      /*position*/
      /* z-index: -1; */
      position: absolute;
      top:  $fc__cutout-top-position;
      left: $fc__cutout-left-position;
      /*structure*/
      height: $fc__cutout-size;
      width: $fc__cutout-size;
      /*borders*/
      border-width: $fc__cutout-border-width;
      border-style: solid;
      border-radius: 50%;
      /*colors*/
      border-color: $fc__default-color;
      background-color: transparent;
      /*fancy*/
      box-shadow: inset 0 0 15px rgba(0, 0, 0, .8);
    }

    &::after {
      /*content*/
      content: "";
      /*position*/
      z-index: -1;
      position: absolute;
      bottom: 0;
      left: calc($fc__gutter-width * -1);
      /*structure*/
      height: calc(100% - $fc__cutout-total-height);
      width: calc($fc__gutter-width);
      /*colors*/
      background-color: $fc__default-color;
    }

    /***************
    *  > Color A   *
    ***************/

    &--color-a,
    &--color-a::after {
      background-color: $fc__color-a;
    }
    &--color-a::before {
      border-color: $fc__color-a;
    }
    /***************
    *  > Color B   *
    ***************/

    &--color-b,
    &--color-b::after {
      background-color: $fc__color-b;
    }
    &--color-b::before {
      border-color: $fc__color-b;
    }
    /***************
    *  > Color C   *
    ***************/

    &--color-c,
    &--color-c::after {
      background-color: $fc__color-c;
    }
    &--color-c::before {
      border-color: $fc__color-c;
    }
    /***************
    *  > Color D   *
    ***************/

    &--color-d,
    &--color-d::after {
      background-color: $fc__color-d;
    }
    &--color-d::before {
      border-color: $fc__color-d;
    }


  }


  /**************************************/
  /*   # Headline                      */
  /************************************/

  &__headline {
    /*Apply any styles for a section headline here.
    Headlines also have thier own style file ./_headline.css*/
  }

  /**************************************/
  /*   # Content                       */
  /************************************/

  &__content {
    /*display*/
    display: block;
    /*position*/
    position: absolute;
    z-index: 100;
    /*spacing*/
    padding-left: 15px;
    padding-right: 30px;

    &--no-left-padding {
      padding-left: 0;
    }
  }

}
