
/****************************************************/
/*                                                 */
/*   Section CSS (_main-nav.css)                  */
/*                                               */
/************************************************/
/*

  - A section is considered an independent grouping of content.
  - The section class may be applied to a section tag,
    but it is not required.

  *************
  * Contents: *
  *************

  # Variables
  # Section
    > Focus
    > Modifiers
    > At Small
  # Background
    > Parallax
    > At Small
  # Headline
  # Content
  # Image
    > Rounded Corners
    > Drop Shadow
    > Block Shadow
    > Polaroid
    > Rotate Till Hover
  # Caption

*/

/**************************************/
/*   # Variables                     */
/************************************/

$section__default-color: transparent;
$section__color-a: rgb($color_a);
$section__color-b: rgb($color_b);
$section__color-c: rgb($color_c);
$section__color-d: rgb($color_d);

/**************************************/
/*   # Section                       */
/************************************/

.section {
  /*display*/
  display: block;
  /*position*/
  position: relative;
  /*structure*/
  height: auto;
  min-height: 60vh;
  width: 100%;
  /*spacing*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 30px;
  padding-left: 40px;
  /*colors*/
  background-color: $section__default-color;

  /*************
  *  > Focus   *
  *************/

  &:focus {
    /*outline*/
    outline: none;
  }

  /*****************
  *  > Modifiers   *
  *****************/

  &--extra-margin-bottom {
    /*spacing*/
    margin-bottom: 100px;
  }

  &--full {
    height: 100vh;
    min-height: 500px;
    width: 100%;
    margin-bottom: 0;
  }

  /****************
  *  > At Small   *
  ****************/

  @mixin atSmall {
    /*spacing*/
    /* margin-bottom: 30px; */
    padding-left: 20px;
    padding-right: 20px;

    &--full {
      margin-bottom: 0;
    }


  }

    /***************
    *  > Color A   *
    ***************/

    &--color-a,
    &--color-a::after {
      background-color: $section__color-a;
    }
    &--color-a::before {
      border-color: $section__color-a;
    }
    /***************
    *  > Color B   *
    ***************/

    &--color-b,
    &--color-b::after {
      background-color: $section__color-b;
    }
    &--color-b::before {
      border-color: $section__color-b;
    }
    /***************
    *  > Color C   *
    ***************/

    &--color-c,
    &--color-c::after {
      background-color: $section__color-c;
    }
    &--color-c::before {
      border-color: $section__color-c;
    }
    /***************
    *  > Color D   *
    ***************/

    &--color-d,
    &--color-d::after {
      background-color: $section__color-d;
    }
    &--color-d::before {
      border-color: $section__color-d;
    }

  /**************************************/
  /*   # Background                    */
  /************************************/

  &__background {
    /*position*/
    position: absolute;
    top: 0;
    left: 0;
    /*structure*/
    height: 100%;
    width: 100%;

    /****************
    *  > Parallax   *
    ****************/

    &--parallax {
      @mixin imageParallax;
    }

    &--parallax--fixed-top {
      @mixin imageParallax;
      position: fixed;
      background-attachment: scroll;
    }

  }
  /***************
  *  > At Small   *
  ***************/

  @mixin atSmall {



  }

  /**************************************/
  /*   # Overlay                       */
  /************************************/

  &__overlay {
    /*position*/
    position: absolute;
    top: 0;
    left: 0;
    /*structure*/
    height: 100%;
    width: 100%;
    /*colors*/
    background-color: rgba($color_offBlack, .8);


    &--narrow-left {
      /*position*/
      left: -1rem;
      /*structure*/
      width: 10rem;
    }

    &--fuzzy {
      /*filters*/
      filter: blur(30px);
    }

    &--light {
      /*colors*/
      background-color: rgba($color_offWhite, .8);
    }
  }

  /**************************************/
  /*   # Headline                      */
  /************************************/

  &__headline {
    /*Apply any styles for a section headline here.
    Headlines also have thier own style file ./_headline.css*/
  }

  /**************************************/
  /*   # Content                       */
  /************************************/

  &__content {
    /*display*/
    display: block;
    /*position*/
    position: relative;
    z-index: 100;
    /*spacing*/
    padding-left: 15px;
    padding-right: 30px;

    &--no-left-padding {
      padding-left: 0;
    }

    &--restrict-width {
      max-width: $structure_restricted_width;
    }

    &--narrow {
      max-width: 500px;
    }

    &--center-vert {
      top: 50%;
      transform: translateY(-50%);
    }

    &--padding-top-for-tiny {
      @mixin forTiny {
        padding-top: 50px;
      }
    }


      @mixin atSmall {
        margin-left: 10rem;
        &--center-vert-at-small {
          top: 50%;
          transform: translateY(-50%);
        }
      }

    /****************
    *  > At Large   *
    ****************/

    @mixin atLarge {
      &--center-at-large {
        /*spacing*/
        margin-left: auto;
        margin-right: auto;
      }
    }

  }

  /**************************************/
  /*   # Image                         */
  /************************************/

  &__image {
    /*display*/
    display: inline-block;
    /*position*/
    position: relative;
    top: 0;
    right: 0;
    /*structure*/
    max-width: 420px;
    /*spacing*/
    margin: 0;

    img {
      /*display*/
      display: block;
      /*structure*/
      width: 100%;
      /*spacing*/
      padding: 0;
      margin: 0;
    }

    /***********************
    *  > Rounded Corners   *
    ***********************/

    &--rounded-corners {
      /*borders*/
      border-radius: 10px;
      /*overflow*/
      overflow: hidden;
    }

    /*******************
    *  > Drop Shadow   *
    *******************/

    &--drop-shadow {
      /*shadows*/
      box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
    }

    /********************
    *  > Block Shadow   *
    ********************/

    &--block-shadow {
      /*colors*/
      border-color: rgba($color_offBlack, 1);
      /*shadows*/
      box-shadow: 0 0 15px rgba(0, 0, 0, .3);

      &::after {
        /*content*/
        content: "";
        /*position*/
        z-index: -1;
        position: absolute;
        top: 20px;
        left: 20px;
        /*structure*/
        height: 100%;
        width: 100%;
        /*colors*/
        background-color: rgba($color_offBlack, .8);
        /*shadows*/
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
      }
    }

    /****************
    *  > Polaroid   *
    ****************/

    &--polaroid {
      /*Suggestion: for a better size, make the photo approximately square.*/

      /*structure*/
      width: 420px;
      /*borders*/
      border-width: 30px;
      border-style: solid;
      border-bottom-width: 105px;
      /*colors*/
      border-color: rgb($color_offWhite);
      /*shadows*/
      box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);

      img {
        /*display*/
        display: inline-block;
        /*position*/
        position: relative;
        /*structure*/
        width: 100%;
      }
    }

    /*************************
    *  > Rotate Till Hover   *
    *************************/

    &--rotate-till-hover {
      /*transform*/
      transform: rotate(12deg);
      /*transition*/
      transition-property: transform;
      transition-duration: 800ms;

      .has-no-touch &:hover{
        transform: rotate(0);
      }
    }

  }

  /***************
  *  > Caption   *
  ***************/

  &__caption {
    /*position*/
    z-index: 5;
    position: absolute;
    bottom: 0;
    /*structure*/
    width: 100%;
    /*spacing*/
    padding: 10px;
    /*typography*/
    text-align: center;
    font-style: italic;
    letter-spacing: 1.25px;
    /*colors*/
    background-color: rgba($color_offBlack, .2);
    color: rgba($color_offWhite, .9);


    .section__image--polaroid &{
      /*position*/
      top: 100%;
      /*transform*/
      transform: translateY(50%);
      /*colors*/
      background-color: transparent;
      color: rgba($color_offBlack);
    }
  }

}
