
/****************************************************/
/*                                                 */
/*   Site Footer CSS (_site-footer.css)           */
/*                                               */
/************************************************/
/*

  - The site footer contains the footer information for the site.
  - This the site-footer class may be applied to a footer tag, but it is not required.

  *************
  * Contents: *
  *************

  # Site Footer
    > At Small
    > At Squished
    > Content
    > Social Icons
  # Fixed Footer

*/

/**************************************/
/*   # Site Footer                   */
/************************************/

.site-footer {
  /*display*/
  display: block;
  /*position*/
  position: relative;
  /*structure*/
  width: 100vw;
  /*spacing*/
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  /*colors*/
  background-color: rgba($color_offWhite, .15);

  &--light {
    color: rgba($color_offWhite, .5);
  }

  /****************
  *  > At Small   *
  ****************/

  @mixin atSmall {
    /*spacing*/
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
  }

  /*******************
  *  > At Squished   *
  *******************/

  @mixin atSquished {
    /*spacing*/
    padding-left: 200px; /*make room in case the main navigation overlaps the footer*/
  }


  /**************************************/
  /*   # Content                       */
  /************************************/

  &__content {
    /*position*/
    position: relative;
    /*structure*/
    width: 100%;

    &--center-for-tiny {
      @mixin forTiny {
        text-align: center;
      }
    }
  }

  /**************************************/
  /*   # Link                          */
  /************************************/

  &__link {
    color: rgb($color_accentMain);
  }

  /**************************************/
  /*   # Social Icons                  */
  /************************************/

  &__social-icons {
    /*position*/
    position: relative;
    /*structure*/
    width: auto;
    height: auto;
    /*spacing*/
    margin: 0;
    padding: 0;
    /*typography*/
    text-align: center;

    @mixin atSmall {
      text-align: right;
      margin-top: 17px;
    }
  }

  /**************************************/
  /*   # Fixed Footer                  */
  /************************************/

  &--fixed {
    /*position*/
    z-index: 500;
    position: fixed;
    left: 0;
    bottom: 0;
  }

}
